*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
}
:root{
    --mainColor: rgb(61, 61, 247);
    --boldColor: rgb(28, 28, 223);
}
.branding{
    border-right: solid gray;
    position: relative;
}
.container{
    border: solid gray;
    height: 93vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
}
.bg img{
    width: 45vw;
    position: absolute;
    right: 0%;
}
.logo img{
    width: 64px;
    position: absolute;
    top: 10%;
    left: 2%;
}
.text {
    position: absolute;
    font-size: 3rem;
    width: 15%;
    font-weight: 900;
    padding: 20px;
    bottom: 10%;
}
h3{
    text-align: left;
    padding-left: 5px;
    margin-bottom: 10px;
    font-family:'Poppins',sans-serif;
    font-weight: 100;
}
.formContainer{
    position: relative;
    margin: auto;
    padding: 0;
    text-align: center;
}
.formContainer input{
    height: 60px;
    padding: 10px 15px;
    margin: 10px 0;
    border: solid .5px gray;
    border-radius: 12px;
    width: 35vw;
    font-size: 1.1rem;
    background-color: transparent;
}
.formContainer input:hover{
    border: solid 1px rgba(0, 0, 0, 0.696);
}
.formContainer input:focus{
    outline: solid blue .5px;
}
.emailInput, .passwordInput{
    position: relative;
}
.passwordInput i{
    position: absolute;
    right: 5%;
    top: 20px;
    display: none;
}
.passwordInput i.show{
    display: block;
}
.meta{
    cursor:pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    gap: 1px;
    margin-top: 10px;
}
.meta img{
    width: 16px;
}
#icon{
    cursor: pointer;
}
button{
    margin: 10px 0;
    width: 35vw;
    height: 45px;
    border-radius: 25px;
    border: solid .5px gray;
    cursor: pointer;
}
.loginBtn button{
    background-color: var(--mainColor);
    color: white;
    font-weight: 900;
    font-size: 17px;
}
.loginBtn button:hover{
    background-color: var(--boldColor);
}
#forgotPass{
    margin-bottom: 1.3rem;
    width: 35vw;
    height: 30px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#forgotPass:hover{
    background-color: rgba(128, 128, 128, 0.137);
}
.createAcc button{
    border-color: var(--mainColor);
    color: var(--mainColor);
    background-color: white;
    font-weight: 900;
}
.createAcc button:hover{
    background-color: rgba(128, 128, 128, 0.137);
}

footer p{
    width: 70vw;
    text-align: justify;
    margin: 15px auto;
    color: gray;
    font-size: 1.1rem;
}